 <div class="container">
  <div class="row">
   <div class="col-md-4">
        <img src="http://via.placeholder.com/350x350" class="img-responsive img-rounded">
        <br>
        
      </div>
      <div class="col-md-8">
        <strong><h1><%= @user.name %></h1></strong><br>
        <strong><%= @user.email %></strong><br>
        <strong><%= @user.intro %></strong><br>
        <% if @user.email == current_user.email %>
         <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="clearfix"></div>
  </div>
</div>
